* {
  margin: 0;
  padding: 0;
}

.main-container {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  margin-top: 50px;
}

.btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
}


table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
  margin-top: 40px;

}

table td, table th {
  border: 1px solid #ddd;
  padding: 8px;
  font-size: 20px;
}

table tr:nth-child(even) {
  background-color: #f2f2f2;
}

table tr:hover {
  background-color: #ddd;
}

table th {
  text-align: center;
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: #04AA6D;
  color: white;
}


button {
  height: 40px;
  width: 90px;
  border-radius: 20px;
  background: #04AA6D;
  margin-left: 10px;
  color: white;
  border: none
}

.container-pagination {
  margin-top: 20px;
}

.pagination {
  font-size: 22px;
}

.inputSearch {
  height: 40px;
  width: 600px;
  border-radius: 10px;
  padding: 4px;
  border: 1px solid #04AA6D;
  display: block;
  margin: 10px auto;
}



.container {
  display: flex;
  font-size: 28px;
  justify-content: space-around;
}


.link {
  text-decoration: none;
  text-decoration: none;
  margin-right: 20px;
  color: white;
  padding: 8px;
  background-color: #04AA6D;
  border-radius: 15px;
  margin-top: 17px;
}

.input-qr {
  margin-top: 40px;
  height: 32px;
  width: 230px;
  border-radius: 5px;
  border: 1px solid green;
  margin-left: 15px;
}


.heading {
  text-align: center;
  font-size: 28px;
  margin-top: 40px;
}

.mt4 {
  margin-top: 40px;
}

.ml45 {
  margin-left: 450px;
}